.popup__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 }

 .popup__container_image {
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 0;
  background-color: transparent;
}

@media all and (max-width: 900px) {
  .popup__container {
    max-width: 320px;
  }
  .popup__container_image {
    max-width: 75vw;
    max-height: 75vh;
}
@media all and (max-width: 374px) {
  .popup__container {
    max-width: 240px;
    max-height: 258px;
  }
}



