.popup__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 }
