.popup__form {
  margin: 54px 36px 36px;
  width: 358px;
}

@media all and (max-width: 900px) {
  .popup__form {
  margin: 24px;
  width: 272px;
  }
}

@media all and (max-width: 374px) {
  .popup__form {
  width: 234px;
  }
}
