.profile__add-button {
  margin: auto;
  margin-right: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-image: url(../../../image/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  outline: none;
}

.profile__add-button:hover {
  opacity: .6;
}

