.profile__avatar {
  background-image: url(../../../image/kusto.jpg);
  margin: 0;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  align-self: center;
}

@media all and (max-width: 900px) {
  .profile__avatar {
    margin: 0 auto 14px;
  }
}
