.element__like-button {
  margin: auto 20px ;
  width: 20px;
  height: 18px;
  background-image: url(../../../image/like.svg);
  background-color: transparent;
  color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.element__like-button:hover {
  opacity: .6;
}
